{% extends "layout.twig" %}

{% block content %}

<div id="page">
    
    <header class="bk-header sidebar">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        {{widget('extendednavigation', 'navigationheader', {})|raw}}
        <footer class="bk-footer">
            {{widget('profile', 'footercolumn1profileaddress', { 'profileType':'address', 'address':'profile'})|raw}} 
            {{widget('profile', 'footercolumn1socialicons', { 'profileType' : 'socialicons' })|raw}}           
            {{widget('profile', 'footercolumn1profilecopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
        </footer>
    </header>

    <div class="main">
        <div class="zone wrapper">
            <div class="zonecontainer">
                {{zone('main')|raw}}
            </div>
        </div>
    </div>
        
</div>

{% endblock %}
